{% extends "layout.html" %} {% block body %}
<style>
  div.row {
    margin: 5px 0;
    padding: 0 5px;
    clear: both;
  }

  div.element {
    float: left;
    padding: 10px 20px;
  }

  .ui-slider {
    width: 400px;
    margin: 10px 0;
  }

  .ui-draggable, .ui-droppable {
    background-position: top;
  }

  .slider {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

  .red-slider .ui-slider-range { background: #ef2929; }
  .red-slider .ui-slider-handle { border-color: #ef2929; }
  .green-slider .ui-slider-range { background: #8ae234; }
  .green-slider .ui-slider-handle { border-color: #8ae234; }
  .blue-slider .ui-slider-range { background: #729fcf; }
  .blue-slider .ui-slider-handle { border-color: #729fcf; }
</style>
<script type="text/javascript">
    $(function() {
        $( "#red1-container" ).slider({
		range: 'min',
                create: function() {
                        $( "#red1-slider" ).text( $( this ).slider( "value" ) );
                },
                slide: function( event, ui ) {
                        $( "#red1-slider" ).text( ui.value );
                        $('#red1').val(ui.value);
			submit_red1(event);
                }
        });
        var submit_red1 = function(e) {
            $.post($SCRIPT_ROOT + '/day16/red1', {
                    red1: $('input[name="red1"]').val(),
                    red1time: $('input[name="red1time"]').val()
                },
                function(data) {
                    $('#result').html(data.result);
                });
            return false;
        };
        $( "#green1-container" ).slider({
		range: 'min',
                create: function() {
                        $( "#green1-slider" ).text( $( this ).slider( "value" ) );
                },
                slide: function( event, ui ) {
                        $( "#green1-slider" ).text( ui.value );
                        $('#green1').val(ui.value);
			submit_green1(event);
                }
        });
        var submit_green1 = function(e) {
            $.post($SCRIPT_ROOT + '/day16/green1', {
                    green1: $('input[name="green1"]').val(),
                    green1time: $('input[name="green1time"]').val()
                },
                function(data) {
                    $('#result').html(data.result);
                });
            return false;
        };
        $( "#blue1-container" ).slider({
		range: 'min',
                create: function() {
                        $( "#blue1-slider" ).text( $( this ).slider( "value" ) );
                },
                slide: function( event, ui ) {
                        $( "#blue1-slider" ).text( ui.value );
                        $('#blue1').val(ui.value);
			submit_blue1(event);
                }
        });
        var submit_blue1 = function(e) {
            $.post($SCRIPT_ROOT + '/day16/blue1', {
                    blue1: $('input[name="blue1"]').val(),
                    blue1time: $('input[name="blue1time"]').val()
                },
                function(data) {
                    $('#result').html(data.result);
                });
            return false;
        };

        $( "#red2-container" ).slider({
		range: 'min',
                create: function() {
                        $( "#red2-slider" ).text( $( this ).slider( "value" ) );
                },
                slide: function( event, ui ) {
                        $( "#red2-slider" ).text( ui.value );
                        $('#red2').val(ui.value);
			submit_red2(event);
                }
        });
        var submit_red2 = function(e) {
            $.post($SCRIPT_ROOT + '/day16/red2', {
                    red2: $('input[name="red2"]').val(),
                    red2time: $('input[name="red2time"]').val()
                },
                function(data) {
                    $('#result').html(data.result);
                });
            return false;
        };

        $( "#green2-container" ).slider({
		range: 'min',
                create: function() {
                        $( "#green2-slider" ).text( $( this ).slider( "value" ) );
                },
                slide: function( event, ui ) {
                        $( "#green2-slider" ).text( ui.value );
                        $('#green2').val(ui.value);
			submit_green2(event);
                }
        });
        var submit_green2 = function(e) {
            $.post($SCRIPT_ROOT + '/day16/green2', {
                green2: $('input[name="green2"]').val(),
                green2time: $('input[name="green2time"]').val()
            }, function(data) {
                $('#result').html(data.result);
            });
            return false;
        };

        $( "#blue2-container" ).slider({
		range: 'min',
                create: function() {
                        $( "#blue2-slider" ).text( $( this ).slider( "value" ) );
                },
                slide: function( event, ui ) {
                        $( "#blue2-slider" ).text( ui.value );
                        $('#blue2').val(ui.value);
			submit_blue2(event);
                }
        });
        var submit_blue2 = function(e) {
            $.post($SCRIPT_ROOT + '/day16/blue2', {
                    blue2: $('input[name="blue2"]').val(),
                    blue2time: $('input[name="blue2time"]').val()
                },
                function(data) {
                    $('#result').html(data.result);
                });
            return false;
        };

        $('#red1').bind('keydown', function(e) {
            if (e.keyCode == 13) {
                submit_red1(e);
            }
        });
        $('#green1').bind('keydown', function(e) {
            if (e.keyCode == 13) {
                submit_green1(e);
            }
        });
        $('#blue1').bind('keydown', function(e) {
            if (e.keyCode == 13) {
                submit_blue1(e);
            }
        });
        $('#red2').bind('keydown', function(e) {
            if (e.keyCode == 13) {
                submit_red2(e);
            }
        });
        $('#green2').bind('keydown', function(e) {
            if (e.keyCode == 13) {
                submit_green2(e);
            }
        });
        $('#blue2').bind('keydown', function(e) {
            if (e.keyCode == 13) {
                submit_blue2(e);
            }
        });
    });
</script>

<h1>Day 16</h1>

<div class="row">
	<div class="element">
		<label for="red1">RED1 DC</label>
		<div class="red-slider" id="red1-container">
			<div id="red1-slider" class="slider ui-slider-handle"></div>
		</div>
		<input type="text" size="5" id="red1" name="red1">
	</div>
	<div class="element">
		<label for="GREEN1">GREEN1 DC</label>
		<div id="green1-container" class="green-slider">
			<div id="green1-slider" class="slider ui-slider-handle"></div>
		</div>
		<input type="text" size="5" id="green1" name="green1">
	</div>
	<div class="element">
		<label for="blue1">BLUE1 DC</label>
		<div id="blue1-container" class="blue-slider">
			<div id="blue1-slider" class="slider ui-slider-handle"></div>
		</div>
		<input type="text" size="5" id="blue1" name="blue1">
	</div>
</div>

<div class="row">    
	<div class="element">
		<label for="red2">RED2 DC</label>
		<div id="red2-container" class="red-slider">
			<div id="red2-slider" class="slider ui-slider-handle"></div>
		</div>
		<input type="text" size="5" id="red2" name="red2">
	</div>
	<div class="element">
		<label for="green2">GREEN2 DC</label>
		<div id="green2-container" class="green-slider">
		<div id="green2-slider" class="slider ui-slider-handle"></div>
		</div>
		<input type="text" size="5" id="green2" name="green2">
	</div>
	<div class="element">
		<label for="blue2">BLUE2 DC</label>
		<div id="blue2-container" class="blue-slider">
		<div id="blue2-slider" class="slider ui-slider-handle"></div>
		</div>
		<input type="text" size="5" id="blue2" name="blue2">
	</div>
</div>

<p>
    <label for="red1time">RED1 Time</label>
    <input type="text" size="5" id="red1time" name="red1time">
    <label for="green1time">GREEN1 Time</label>
    <input type="text" size="5" id="green1time" name="green1time">
    <label for="blue1time">BLUE1 Time</label>
    <input type="text" size="5" id="blue1time" name="blue1time">

    <label for="red2time">RED2 Time</label>
    <input type="text" size="5" id="red2time" name="red2time">
    <label for="green2time">GREEN2 Time</label>
    <input type="text" size="5" id="green2time" name="green2time">
    <label for="blue2time">BLUE2 Time</label>
    <input type="text" size="5" id="blue2time" name="blue2time">
</p>
<p>
    <textarea id="result"></textarea>
</p>

{% endblock %}
